# Local Netlify folder
.netlify
deno.lock

# Dependencies
node_modules

# Local environment variables
.env
.env.*
!.env.example
.plans

# Local exports / working data
*.csv
Nova Sponsorship Tracker*.csv